extends layout

block content

    #login.center-vertical
        form.well(id='form-payment', method='post')
            h2 Payment
            .form-group
                        h4.mb-3 Payment
                        .d-block.my-3
                            .custom-control.custom-radio
                                input#credit.custom-control-input(name='paymentMethod', type='radio', checked='', required='')
                                label.custom-control-label(for='credit') Credit card
                            .custom-control.custom-radio
                                input#debit.custom-control-input(name='paymentMethod', type='radio', required='')
                                label.custom-control-label(for='debit') Debit card
                            .custom-control.custom-radio
                                input#paypal.custom-control-input(name='paymentMethod', type='radio', required='')
                                label.custom-control-label(for='paypal') PayPal
                        .row
                            .col-md-6.mb-3
                                label(for='cc-name') Name on card
                                input#cc-name.form-control(type='text', placeholder='', required='')
                                small.text-muted Full name as displayed on card
                                .invalid-feedback
                                    | Name on card is required
                            .col-md-6.mb-3
                                label(for='cc-number') Credit card number
                                input#cc-number.form-control(type='text', placeholder='', required='')
                                .invalid-feedback
                                    | Credit card number is required
                        .row
                            .col-md-3.mb-3
                                label(for='cc-expiration') Expiration
                                input#cc-expiration.form-control(type='text', placeholder='', required='')
                                .invalid-feedback
                                    | Expiration date required
                            .col-md-3.mb-3
                                label(for='cc-cvv') CVV
                                input#cc-cvv.form-control(type='text', placeholder='', required='')
                                .invalid-feedback
                                    | Security code required
                        hr.mb-4
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout

        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script.
            window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
        script(src='../../../../assets/js/vendor/popper.min.js')
        script(src='../../../../dist/js/bootstrap.min.js')
        script(src='../../../../assets/js/vendor/holder.min.js')
        script.
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
