

extends layout

block content

    .h1 #{title}
    include modals/alert


block scripts

    script(src='/vendor/jquery-2.2.3.min.js')
    script(src='/vendor/jquery.form.min.js')
    script(src='/vendor/bootstrap.min.js')
    script(src='/js/views/payment.js')
    script(src='/js/form-validators/paymentValidator.js')
