
#get-paypal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h4 Withdraw
			.modal-body
				form(method="post")#get-paypal-form
					.row(style='text-align: center')
						button(href='https://paytm.com/').btn.btn-primary.button-sign-in
							span.glyphicon.glyphicon-play
							| paytm
					.row(style='text-align: center;margin-top:20px')
						button(href='https://www.paypal.com').btn.btn-primary.button-sign-in
							span.glyphicon.glyphicon-play
							|paypal
			.modal-footer
					button(data-dismiss="modal")#cancel.btn.btn-default Cancel